# Node.js 관련
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 환경 설정
.env
.env.*.local

# 업로드 파일 (사용자 파일이므로 Git에 저장하면 안 됨)
uploads/

scripts/


# SSL 인증서 (보안 위험)
*.pem

# PM2 설정 로그 파일
pids/
*.log
logs/
*.pid
*.sql

# IDE/OS 불필요 파일
.DS_Store
Thumbs.db
.vscode/
.idea/

# 기타 잘못 추가된 임시 파일
npx
-p
pm2
curl
"node_modules/" 
