
    .toggle-switch {
        position: fixed;
        top: 25px;
        right: 60px;
        width: 65px;
        height: 20px;
        display: inline-block;
    }

    .toggle-switch input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        opacity: 0;
        cursor: pointer;
        z-index: 2;
        /* 필요시 클릭 우선순위 */
    }

    .toggle-switch input:checked+.slider::before {
        transform: translateX(65px);
    }

    .toggle-switch input:checked+.slider #themeIcon {
        transform: translateX(65px);
    }

    .slider {
        position: absolute;
        cursor: pointer;
        width: 100%;
        height: 100%;
        background-color: #cbcbcb;
        border-radius: 20px;
        transition: background-color 0.3s;
    }

    .slider::before {
        position: absolute;
        left: -15px;
        width: 30px;
        height: 30px;
        background-color: white;
        border-radius: 50%;
        transition: transform 0.3s;
        z-index: 0;
    }

    #themeIcon {
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        left: -15px;
        top: -10px;
        background: #e9ecef;
        font-size: 25px;
        text-align: center;
        line-height: 40px;
        pointer-events: none;
        transition: transform 0.3s;
        z-index: 1;
    }
