@charset "utf-8";

.toggle-switch_theme {
    display: flex;
}

.toggle-switch_trans {
    display: flex;
}

.toggle-switch_theme input {
    position: absolute;
    width: 90px;
    height: 40px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
    /* 필요시 클릭 우선순위 */
}

.toggle-switch_theme input:checked+.slider::before {
    transform: translateX(53px);
}

.toggle-switch_theme input:checked+.slider #themeIcon {
    transform: translateX(53px);
}

.slider {
    position: absolute;
    cursor: pointer;
    width: 90px;
    height: 40px;
    background-image: url('../images/light_toggle_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    /* 은은한 테두리 */
    border-radius: 20px;
    transition: background-color 0.3s;
}

.slider::before {
    position: absolute;
    left: -15px;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

#themeIcon {
    position: absolute;
    width: 30px;
    height: 45px;
    left: 4px;
    top: 4px;

    background: url('../images/toggle_light.svg') no-repeat center center;
    /* 기본값 */
    background-size: cover;
    pointer-events: none;
    transition: transform 0.3s, background-image 0.2s ease;
    z-index: 1;
}