@media (max-width: 576px) {

    /*========== click페이지 ==========*/
    body.click-page .exper_font {
        display: flex;
        flex-direction: column;
    }

    body.click-page .explan_png {
        display: flex;
        justify-content: center;
    }

    body.click-page .explan_png img {
        width: 210px;
    }

    /*========== post페이지 ==========*/
    body.post-page .post-description {
        width: 90vw;
        font-size: 20px;
    }


    /*========== preview페이지 ==========*/
    body.preview-page #settingPopup.active {
        margin: 0 auto;
        width: 310px;
        height: 210px;
    }

    body.preview-page #sidebarSearchBtn {
        bottom: 21px;
    }


}