body{
    font-family: Arial, sans-serif;
    background-image: url("/images/background.png");
    background-repeat: repeat;
    background-size: contain;
    background-attachment: fixed;
}
button{
    background-color: #000000;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: white;   
    border: none;
}
button:hover{
    background-color: #755a6a;
}